{% extends 'base.html' %}

{% block content %}

{% include 'sections/carousel.html' %}

<div class="text-center">
    <h5 class="text-xl text-start p-5">SKIDAY will provide a mechanism and information that will enable snow resorts and skiers/snowboarders to fully enjoy blessed natural environment, thereby revitalizing the snow industry, facilitate travel and tourism and local economies related to experiential nature learning.</h5>
    <button class="inline-flex justify-center rounded-lg text-sm font-semibold py-3 px-4 bg-slate-900 text-white hover:bg-slate-700"><a href="{% url 'info' %}">Click To Know More...</a></button>
</div>

{% include 'sections/service.html' %}
{% include 'sections/feature.html' %}
{% include 'sections/contact.html' %}


{% endblock %}