{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- sky-200 blue-300 gray-900 slate-800 -->

<section class="relative isolate overflow-hidden bg-gray-900">
  <img src="{% static 'images/home/home_bg.jpg' %}" alt=""
    class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
    aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
    </div>
  </div>
  <div
    class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
    aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
    </div>
  </div>

  <section class="body-font">
    <div class="container mx-auto flex px-5 lg:pt-24 max-sm:pt-8 sm:pt-16 md:pt-24 md:flex-row flex-col items-center">
      <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <div>
          <h1 class="mb-4 text-5xl font-extrabold tracking-tight leading-none text-slate-800 md:text-7xl lg:text-8xl">
            SKIDAY
          </h1>
        </div>
        <p
          class="mb-8 font-bold text-slate-800 sm:text-2xl md:text-3xl lg:text-4xl max-sm:px-16 sm:px-24 md:px-32 lg:px-48">
          Our vision is to increase the probability of achieving "The Day" for skiers and snowboarders.</p>
        </p>
      </div>
    </div>
  </section>

  <section class="mx-auto max-w-7xl px-6 md:px-8 max-sm:pt-24 sm:pt-16 md:pt-24 lg:pt-24 xl:pt-48">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-slate-800 sm:text-6xl"><a href="{% url 'mtcam' %}"
          class="text-slate-800 hover:text-blue-300 transition-all duration-500">Mt. Cam &nbsp;➔</a>
      </h2>
      <p class="mt-6 text-xl leading-8 font-semibold text-gray-900">Live camera for snowfall and ski resorts operation
      </p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <div
        class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-xl text-gray-900 sm:grid-cols-2 md:flex lg:gap-x-10">
        <a href="https://docsend.com/view/cpbn728mqz66nx3c"
          class="text-2xl transition-all duration-500 hover:text-blue-300">Check
          our PDF<span aria-hidden="true">&rarr;</span></a>
        <a href="https://docsend.com/view/r55v6g2bie8tj8kx"
          class="transition-all duration-500 hover:text-blue-300 text-2xl">Check
          our Video<span aria-hidden="true">&rarr;</span></a>
      </div>
    </div>
  </section>

  <section class="mx-auto max-w-7xl px-6 md:px-8 max-sm:pt-24 sm:pt-16 md:pt-24 lg:pt-24 xl:pt-48">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-slate-800 sm:text-6xl"><a href="{% url 'powderalert' %}"
          class="text-slate-800 hover:text-blue-300 transition-all duration-500">Powder Alert &nbsp;➔</a>
      </h2>
      <p class="mt-6 text-xl font-semibold leading-8 text-gray-900">Get the latest snow information update and snowfall
        notification</p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <div
        class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-xl text-gray-900 sm:grid-cols-2 md:flex lg:gap-x-10">
        <p class="text-2xl font-bolder mt-1">DOWNLOAD</p>
        <a href="http://bit.ly/3Yjm8Hu" class="transition-all duration-500 hover:text-blue-300">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-google-play"
            viewBox="0 0 16 16">
            <path
              d="M14.222 9.374c1.037-.61 1.037-2.137 0-2.748L11.528 5.04 8.32 8l3.207 2.96zm-3.595 2.116L7.583 8.68 1.03 14.73c.201 1.029 1.36 1.61 2.303 1.055zM1 13.396V2.603L6.846 8zM1.03 1.27l6.553 6.05 3.044-2.81L3.333.215C2.39-.341 1.231.24 1.03 1.27" />
          </svg>
        </a>
        <a href="https://apple.co/3JILjyX" class="transition-all duration-500 hover:text-blue-300">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-apple"
            viewBox="0 0 16 16">
            <path
              d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282" />
            <path
              d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282" />
          </svg>
        </a>
      </div>
    </div>
  </section>

  <section class="mx-auto max-w-7xl px-6 md:px-8 max-sm:py-24 sm:py-16 md:py-24 lg:py-24 xl:py-48">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-slate-800 sm:text-6xl"><a href="#"
          class="text-slate-800 hover:text-blue-300 transition-all duration-500">Guide Matching &nbsp;➔</a>
      </h2>
      <p class="mt-6 text-xl leading-8 text-gray-900">Coming soon...
      </p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <div
        class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-xl text-gray-900 sm:grid-cols-2 md:flex lg:gap-x-10">
        <a href="https://docsend.com/view/r55v6g2bie8tj8kx" class="transition-all duration-500 hover:text-blue-300">Join
          Our Community<span aria-hidden="true">&rarr;</span></a>
      </div>
  </section>
</section>

{% endblock %}